*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    min-height: 100vh;
}
.container{
    width: 100%;
    min-height: 100vh;
    background-color: #000000;
    color: white;
}
.container .menu{
    display: flex;
    justify-content:  space-between;
    align-items: center;
    padding: 0px 30px;
    height: 70px;
}
.container .logo{
    color: #dedce1;
    font-size: 3vw;
    text-transform: uppercase;
}
.container .logo span{
    padding-left: 1.5vw;
    color: yellow;
}
.menu ul{
    list-style: none;
}
.menu ul li{
    display: inline-table;
    padding: 0 3vw;
}
.menu ul li a{
    position: relative;
    display: block;
    text-decoration: none;
    color: #dedce1;
    font-size: 3vw;
}
.menu ul li a::after{
    content: '';
    position: absolute;
    width: 100%;
     height: 1px;
     background-color: yellow;
     top: 110%;
     left: 0;
     border-radius: 0.4s;
     transform: scale(0);
}
.menu ul li a:hover::after{
    transform: scale(1);
}
.menu ul li a.active::after{
    transform: scale(1);
}
.menu #menuBtn{
    cursor: pointer;
    user-select: none;
    display: none;
}
#menuBtn .bar{
    width: 26px;
    height: 3px;
    background-color: #dedce1;
    margin: 5px auto;
    border-radius: 5px;
    transition: 0.4s cubic-bezier(1, 0.2, 0.2, 1);
}
.container main{
    width: 100%;
    height: calc(100vh - 10px);
    background-image: url(../images/sport.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

main .infoText{
    padding: 0 8%;
}
.infoText p{
    color: #dedce1;
    font-size: 3vw;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}
.infoText h1{
    color: #dedce1;
    font-size: 6vw;
    padding: 1.5vw 0;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.infoText h1 span{
    color: yellow;
    padding-left: 1.5vw;
}
.infoText button{
    padding: 1.5vw 1.8vw;
    border: 1px solid #79747b;
    border-radius: 3vw;
    outline: none;
    font-size: 2.25vw;
    text-transform: uppercase;
    background-color: #000000;
    color: #79747b;
    margin-top: 6vw;
    cursor: pointer;
    transition: all 0.4s;
}
.infoText button:hover{
    color: yellow;
}
.socialMediaIcons{
    position: absolute;
    bottom: 3vw;
    left: 8%;
}
.socialMediaIcons b{
    font-size: 2.5vw;
    padding-right: 20px;
    color: #939393;
}
.socialMediaIcons a i{
    font-size: 24px;
    padding-right: 20px;
    color: #000000;
    transition: 0.4s;
}
.socialMediaIcons a i:hover{
    color: yellow;
    transform: scale(1.2);
}
@media(max-width: 480px) {
    .menu #menuBtn{
        display: block;
    }
    .menu ul{
        position: fixed;
        width: 250px;
        height: calc(100vh - 70px);
        top: 70px;
        right: -250px;
        background-color: #232323;
        border-radius: 30% 0% 0% 80%;
        display: flex;
        align-items: center;
        flex-direction: column;
        border-top: 1px solid black;
        transition: right 0,4s cubic-bezier(1, 0.2, 0.2, 1);
    }
    .menu ul li{
        padding: 20px;
        letter-spacing: 2px;
    }
    .menu ul li:nth-child(1){
        margin-top: 30px;
    }
    .container .menu{
        background-color: #232323;
    }
    .container .main{
        background-position: center;
    }
    #menuBtn.active .bar:nth-child(2){
        transform: translateX(-30px);
        opacity: 0;
    }
    #menuBtn.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    #menuBtn.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .menu ul.active{
        right: 0;
    }
}
@media(max-width: 768px) {
    .menu #menuBtn {
        display: block;
    }
    .menu ul {
        position: fixed;
        width: 250px;
        height: calc(100vh - 30px);
        top: 70px;
        right: -250px;
        background-color: #232323;
        border-radius: 30% 0% 0% 80%;
        display: flex;
        align-items: center;
        flex-direction: column;
        border-top: 1px solid black;
        transition: right 0.4s cubic-bezier(1, 0.2, 0.2, 1);
    }
    .menu ul li {
        padding: 20px;
        letter-spacing: 2px;
    }
    .menu ul li:nth-child(1) {
        margin-top: 30px;
    }
    .container .menu {
        background-color: #232323;
    }
    .container .main {
        background-position: center;
    }
    #menuBtn.active .bar:nth-child(2) {
        transform: translateX(-30px);
        opacity: 0;
    }
    #menuBtn.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    #menuBtn.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .menu ul.active {
        right: 0;
    }
}